/*===========================================
variable.css　　
変数の定義を記載するcssファイルとして使用
===========================================*/

:root{
  /* ========== 色の指定 ========== */
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --blue:  rgb(54, 36, 255);
  --red:   rgb(255, 60, 60);

  /* ========== 色の役割 ========== */
  --main:   var(--black);
  --sub:    var(--white);
  --accent: var(--blue);
  --accent2: var(--red);

  /* ========== 半透明サンプル ========== */
  /*color-mix(in srgb, var(--accent) 50%, transparent) */
}