/* ============
* アーカイブCSS
============== */

.post-type-archive-tool {
  .c-tool-list {
    a:hover {
      opacity: 0.7;
    }
  }
  .l-card-grid {
    display: flex;
  }
  .c-card {
    &:before {
      content: none;
    }
  }
}