/* ============
* oc-button
============== */
/* セクション内のカードグリッド */
.l-card-grid {
    margin: 0 auto;
    display: grid;
    gap: 40px;
}

/* 角度アニメーション用 */
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 315deg;
}
.c-blog-card {
    position: relative;
    border-radius: 16px;
    border: 1px solid transparent;
    background: color-mix(in srgb, var(--main), transparent 85%);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: background 0.5s ease;

    &:hover {
        background: color-mix(in srgb, var(--main), transparent 0%);
    }

    &:hover::before {
        --angle: 495deg;
    }

    &::before {
        --angle: 315deg;
        content: "";
        position: absolute;
        inset: 0; /* 全体に広げる */
        border: 1px solid transparent;
        border-radius: inherit;
        background: linear-gradient(
            var(--angle),
            color-mix(in srgb, var(--main) 66%, var(--sub)) 0%,
            var(--main) 18%,
            var(--main) 50%,
            color-mix(in srgb, var(--main) 92.5%, var(--sub)) 85%,
            var(--sub) 100%
        ) border-box;

        /* ボーダー以外を透明にする（くり抜き） */
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask-composite: destination-out;

        pointer-events: none; /* クリックを邪魔しない */
        transition: --angle 0.5s linear;
    }

    .c-blog-card-link {
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 20px;

        &:hover .c-blog-card-footer {
            background: color-mix(in srgb, var(--main) 95%, var(--sub));
        }
    }
}


/* サムネイル */
.c-blog-card-image {
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1120 / 632;

    img {
        transition: transform 0.5s ease;
        width: 100%;
    }
}
.c-blog-card-link:hover .c-card-image img {
    transform: scale(1.05);
}

/* タグ・タイトル*/
.c-blog-card-category-name {
    font-size: 12px;
    color: color-mix(in srgb, var(--main) 50%, var(--sub));
    font-family: 'Outfit Local';
    line-height: 1;
    margin-bottom: 5px!important;
}
.c-blog-card-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    letter-spacing: 1.2px;
}

/* カテゴリ */
.c-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.c-card-category {
    display: flex;
    flex-direction: column;
}
.c-card-category-label {
    color: color-mix(in srgb, var(--main) 50%, var(--sub));
    font-size: 10px;
}
.c-card-category-name {
    font-size: 14px;
}

/* View Moreボタン */
.c-blog-card-footer {
    position: relative;
    font-family: 'Outfit Local';
    font-size: 12px;
    padding: 3px 32px 3px 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: var(--main);
    width: 87px;
    margin-left: auto;
    margin-right: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px; /* ← ボーダーの太さ */
        border-radius: inherit;

        background: linear-gradient(135deg, color-mix(in srgb, var(--main) 30%, var(--sub)) 0%, color-mix(in srgb, var(--main) 85%, var(--sub)) 30%);

        -webkit-mask:
            linear-gradient(var(--main) 0 0) content-box,
            linear-gradient(var(--main) 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;

        pointer-events: none;
    }

    &::after {
        content: "»";
        position: absolute;
        right: 10px;
        font-size: 1.2em;
        color:  color-mix(in srgb, var(--main) 25%, var(--sub));
    }
}



/* 色変更 */
@media (min-width: 1300px) {
    /* セクション内のカードグリッド */
    .l-card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1000px) and (max-width: 1299px) {
    .l-card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) and (max-width: 999px) {
    .l-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .l-card-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .c-blog-card {
        .c-blog-card-link {
            padding: 15px;
        }
    }
    .c-blog-card-title {
        font-size: 14px;
    }
}