/* ============
* oc-button
============== */
.gradient-btn {
    align-items: center;
    background: linear-gradient(90deg, var(--accent2) 0%, color-mix(in srgb, var(--accent) 50%, var(--accent2)) 50%, var(--accent) 100%);
    border-radius: 30px;
    display: flex;
    font-family: Outfit Local;
    font-size: 14px;
    padding: 1px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 8px color-mix(in srgb, var(--accent2) 50%, transparent), 0 0 5px color-mix(in srgb, var(--accent) 50%, transparent);

        /* 中のテキストの光を動かす */
        .gradient-btn__text::after {
            left: 120%;
        }

        /* 追加：アイコンを右に5px動かす */
        .gradient-btn__icon {
            transform: translateX(5px);
        }
    }

    .gradient-btn__text {
        background: var(--main);
        padding: 10px 40px;
        border-radius: 30px;
        color: var(--sub);
        position: relative;
        overflow: hidden;
        display: block;

        &::after {
            content: "";
            background: white;
            z-index: 1;
            height: 155px;
            width: 50px;
            position: absolute;
            top: -50px;
            left: -75px;
            opacity: .5;
            transform: rotate(35deg);
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .gradient-btn__icon {
        font-size: 20px;
        padding: 0 14px 0 10px;
        display: inline-block;
        color: var(--sub);
        /* 追加：動きを滑らかにする設定 */
        transition: transform 0.3s ease;
    }
}
/* 送信ボタンが無効（disabled）の時のスタイル */
#submit-btn:disabled {
    pointer-events: none;
    opacity: 0.4;           /* 半透明にする */
}
@media screen and (max-width: 600px) {
    .gradient-btn {
        .gradient-btn__text {
            padding: 7px 30px;
            font-size: 13px;
        }
    }
}